In [1]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import env
import matplotlib.pyplot as plt
import os
import prepare
import acquire
import seaborn as sns
import explore
from math import sqrt

In [2]:
df = acquire.get_zillow_sfr_data()

In [3]:
train, val, test = prepare.clean_prep_zillow(df)

In [4]:
train.head()

         bedroom  bathroom   sqrft  tax_value  year_built    fips
682835       2.0       1.0  1362.0   282575.0      1922.0  6037.0
1897297      2.0       1.0  1265.0    91774.0      1938.0  6037.0
948519       4.0       2.0  1924.0   457410.0      1975.0  6037.0
1549960      1.0       2.5  1680.0   519967.0      1996.0  6059.0
13498        3.0       2.0  1418.0   460000.0      1938.0  6037.0

In [5]:
x_train, y_train, x_val, y_val, x_test, y_test = prepare.modeling_split(train, val, test, 'tax_value')

In [6]:
x_train.head()

         bedroom  bathroom   sqrft  year_built    fips
682835       2.0       1.0  1362.0      1922.0  6037.0
1897297      2.0       1.0  1265.0      1938.0  6037.0
948519       4.0       2.0  1924.0      1975.0  6037.0
1549960      1.0       2.5  1680.0      1996.0  6059.0
13498        3.0       2.0  1418.0      1938.0  6037.0

In [7]:
x_train.nunique()

bedroom          8
bathroom        15
sqrft         7171
year_built     153
fips             3
dtype: int64

In [8]:
x_train, x_val, x_test = prepare.prep_2_model(x_train, x_val, x_test, train)

In [9]:
x_train.head()

,sqrft,year_bin_b,year_bin_c,year_bin_d,year_bin_e,year_bin_f,year_bin_g,year_bin_h,year_bin_i,year_bin_j
682835,0.176639,0,0,0,0,0,0,0,0,0
1897297,0.164049,1,0,0,0,0,0,0,0,0
948519,0.249578,0,0,0,0,0,0,1,0,0
1549960,0.217910,0,0,0,0,0,0,0,0,1
13498,0.183907,1,0,0,0,0,0,0,0,0

In [10]:
x_train.columns

Index(['sqrft', 'year_bin_b', 'year_bin_c', 'year_bin_d', 'year_bin_e',
       'year_bin_f', 'year_bin_g', 'year_bin_h', 'year_bin_i', 'year_bin_j'],
      dtype='object')

In [11]:
x_train.drop([x_train.columns[0]], axis = 1)

,year_bin_b,year_bin_c,year_bin_d,year_bin_e,year_bin_f,year_bin_g,year_bin_h,year_bin_i,year_bin_j
682835,0,0,0,0,0,0,0,0,0
1897297,1,0,0,0,0,0,0,0,0
948519,0,0,0,0,0,0,1,0,0
1549960,0,0,0,0,0,0,0,0,1
13498,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
817386,0,0,0,0,0,0,0,1,0
1884190,0,0,0,1,0,0,0,0,0
855139,0,0,0,0,0,0,0,0,0
1305472,0,0,0,0,0,0,0,1,0
1756951,0,1,0,0,0,0,0,0,0